body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #17408B;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
  }
  
  .topnav a:hover {
    background-color: #C9082A;
    color: white;
  }
  
  .topnav a.active {
    background-color: #C9082A;
    color: white;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C9082A;
    color: white;
    text-align: center;
 }

 header {
    text-align: center;
 }

 #contactus {
    float: right;
 }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #C9082A;
    padding: 10px;
    color: white;
  }
  
  .grid-item {
    background-color: #17408B;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }

  .grid-title {
    background-color: #17408B;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #reference {
    text-align: center;
}